@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Open Sans";
  font-weight: 400;
  background-color: #fff;
  line-height: 1;
  color: #000;
  font-size: 12px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  max-width: 100%;
  border: none; }

form {
  margin: 0; }

input[type="submit"], button {
  cursor: pointer;
  border: none; }

input:not([type="checkbox"]):not([tupe="radio"]), select {
  border: none;
  -webkit-appearance: none; }

textarea {
  resize: vertical;
  border: none;
  -webkit-appearance: none;
  overflow: auto; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1; }

::-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-ms-input-placeholder {
  color: inherit;
  opacity: 1; }

*, *:focus {
  outline: none !important; }

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*:before, *:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input, textarea, input:before, textarea:before, input:after, textarea:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial; }

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

.inner::before, .find-solicitor .find-text::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -4px; }

.inner > *, .find-solicitor .find-text > * {
  display: inline-block;
  vertical-align: middle; }

.text-center {
  text-align: center; }

.title-color {
  color: #515a60; }

.bg-orange {
  background-color: #ef6223; }

.bg-blue {
  background-color: #30436b; }

.more-form {
  width: 33.3333%;
  float: left; }

.admin-ic {
  background-image: url(../img/sprite.png);
  background-position: -74px -101px;
  width: 29px;
  height: 30px; }

.apartment-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -64px;
  width: 35px;
  height: 35px; }

.commers-ic {
  background-image: url(../img/sprite.png);
  background-position: -101px 0px;
  width: 35px;
  height: 34px; }

.crime-ic {
  background-image: url(../img/sprite.png);
  background-position: -64px 0px;
  width: 35px;
  height: 35px; }

.hands-ic {
  background-image: url(../img/sprite.png);
  background-position: -101px -36px;
  width: 35px;
  height: 34px; }

.home-ic {
  background-image: url(../img/sprite.png);
  background-position: -138px 0px;
  width: 27px;
  height: 35px; }

.keys-ic {
  background-image: url(../img/sprite.png);
  background-position: -37px -101px;
  width: 35px;
  height: 33px; }

.people-ic {
  background-image: url(../img/sprite.png);
  background-position: -37px -64px;
  width: 35px;
  height: 35px; }

.planet-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 62px;
  height: 62px; }

.resident-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -101px;
  width: 35px;
  height: 34px; }

.serch-ic {
  background-image: url(../img/sprite.png);
  background-position: -138px -37px;
  width: 19px;
  height: 19px; }

.container {
  width: 1060px;
  padding: 0 10px;
  margin: 0 auto; }

.header {
  height: 80px;
  width: 100%;
  background: #fff; }
  .header .logo {
    float: left;
    margin-top: 15px; }
  .header .header-nav {
    margin-top: 27px;
    float: right; }
    .header .header-nav li {
      display: inline-block;
      margin-right: 27px;
      font-size: 16px; }
      .header .header-nav li a {
        font-size: 16px; }
        .header .header-nav li a:hover {
          color: #ef6223; }

.form-control {
  height: 60px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 16px;
  color: #939a9f;
  padding: 0 14px 0 17px; }

.form-btn {
  height: 60px;
  padding: 22px 27px 24px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  background: #f26523; }

.icon {
  display: inline-block; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    cursor: pointer; }
    input[type="checkbox"] + label::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      background: #fff;
      -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.22) inset;
              box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.22) inset;
      margin-right: 8px; }
  input[type="checkbox"]:checked + label::before {
    background: #fff url("../img/checboxchecedbg.png") no-repeat center center; }

select {
  display: none; }

.btn {
  border: 1px solid transparent;
  padding: 14px 25px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  display: inline-block;
  font-size: 18px; }
  .btn.btn-white {
    border-color: #fff;
    color: #fff; }
    .btn.btn-white:hover {
      background: #fff;
      color: #30436b; }
  .btn.btn-orange {
    border-color: #ef6223;
    color: #ef6223; }
    .btn.btn-orange:hover {
      background: #ef6223;
      color: #fff; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  text-align: center;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-arrow {
  color: transparent;
  position: absolute;
  background: transparent;
  top: 50%;
  width: 20px;
  height: 20px;
  border-top: 2px solid #ef6223;
  border-right: 2px solid #ef6223;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .slick-arrow.slick-prev {
    left: -60px;
    -webkit-transform: translatey(-50%) rotate(-135deg);
        -ms-transform: translatey(-50%) rotate(-135deg);
            transform: translatey(-50%) rotate(-135deg); }
  .slick-arrow.slick-next {
    right: -60px;
    -webkit-transform: translatey(-50%) rotate(45deg);
        -ms-transform: translatey(-50%) rotate(45deg);
            transform: translatey(-50%) rotate(45deg); }

.inner {
  height: -webkit-calc( 100vh - 80px);
  height: calc( 100vh - 80px);
  background: url("../img/inner-bg.jpg") no-repeat top center;
  background-size: cover;
  text-align: center; }
  .inner .inner-block {
    color: #ffffff; }
    .inner .inner-block h1 {
      margin-bottom: 29px;
      font-size: 72px;
      font-weight: 600; }
    .inner .inner-block > span {
      font-size: 28px;
      color: rgba(242, 242, 243, 0.9); }
  .inner .inner-form {
    margin-top: 49px;
    padding: 25px 35px 43px 37px;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%; }
    .inner .inner-form .first-form {
      margin-bottom: 10px; }
    .inner .inner-form .more-option {
      display: inline-block;
      cursor: pointer;
      padding-right: 87%;
      margin-bottom: 17px;
      font-size: 14px; }
    .inner .inner-form .form-control {
      width: 325px; }
    .inner .inner-form .first-form input + input {
      margin-left: 6px; }
    .inner .inner-form .second-form {
      display: none;
      overflow: hidden; }
      .inner .inner-form .second-form .input-group {
        overflow: hidden; }
        .inner .inner-form .second-form .input-group .more-form label {
          float: left;
          margin-bottom: 11px;
          font-size: 16px;
          color: rgba(255, 255, 255, 0.7); }
        .inner .inner-form .second-form .input-group .more-form + .more-form {
          padding-left: 6px; }
        .inner .inner-form .second-form .input-group + .input-group {
          margin-top: 15px; }
          .inner .inner-form .second-form .input-group + .input-group label {
            float: left; }
            .inner .inner-form .second-form .input-group + .input-group label + label {
              margin-left: 50px; }
      .inner .inner-form .second-form .form-control {
        width: 100%;
        height: 50px;
        vertical-align: middle; }

.standart-block {
  padding: 25px 0 37px;
  background: #f6f8f8;
  font-size: 18px; }
  .standart-block a {
    color: #ef6223; }

.service-wrap {
  margin: 60px 0;
  overflow: hidden; }
  .service-wrap .row {
    overflow: hidden;
    margin: 0 -10px; }
    .service-wrap .row .service-item {
      width: 33.3333%;
      float: left;
      height: 180px;
      padding: 0 10px; }
      .service-wrap .row .service-item .icon {
        display: block;
        margin-bottom: 10px; }
      .service-wrap .row .service-item h3 {
        display: inline-block;
        font-size: 20px;
        color: #ef6223; }
        .service-wrap .row .service-item h3 span {
          font-size: 12px; }
      .service-wrap .row .service-item p {
        font-size: 16px;
        color: #6c767e;
        padding-right: 23%; }

.slider-wrap {
  padding: 15px 0;
  border-top: 1px solid #e2e6e7;
  border-bottom: 1px solid #e2e6e7; }

.more-areas {
  margin-bottom: 73px; }
  .more-areas .title {
    font-size: 24px; }
  .more-areas .slider-wrap .areas-slider {
    font-size: 16px; }
    .more-areas .slider-wrap .areas-slider a {
      color: #f26523; }

.articles-wrap {
  padding: 60px 0;
  overflow: hidden;
  color: #fff; }
  .articles-wrap .news-row {
    overflow: hidden;
    margin: 0 -13px; }
    .articles-wrap .news-row > .title {
      font-size: 24px;
      margin-bottom: 50px; }
    .articles-wrap .news-row .news-post {
      width: 33.3333%;
      float: left;
      padding: 0 13px; }
      .articles-wrap .news-row .news-post .news-content {
        background-color: #fff;
        padding: 26px 15px 25px 20px;
        border-top: 6px solid #90bed5;
        -webkit-border-radius: 2px;
                border-radius: 2px; }
        .articles-wrap .news-row .news-post .news-content > .title {
          font-size: 20px; }
        .articles-wrap .news-row .news-post .news-content p {
          padding-top: 15px;
          font-size: 16px;
          color: #6c767e; }
        .articles-wrap .news-row .news-post .news-content a {
          color: #30436b; }

.more-areas .title {
  font-size: 24px;
  margin-bottom: 17px; }

.categories-btn {
  padding-bottom: 77px; }
  .categories-btn .btn + .btn {
    margin-left: 30px; }
  .categories-btn .categories-row > .title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 42px; }

.counties-wrap {
  padding: 55px 0 75px; }
  .counties-wrap .counties-row .title {
    font-size: 38px;
    margin-bottom: 70px; }
  .counties-wrap .counties-row .counties-btn a span {
    font-size: 12px; }
  .counties-wrap .counties-row .counties-btn .btn {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 13px; }
    .counties-wrap .counties-row .counties-btn .btn + .btn {
      margin-left: 10px; }

.find-solicitor {
  margin: 57px 0 75px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 5px rgba(244, 231, 224, 0.5);
          box-shadow: 0 0 0 5px rgba(244, 231, 224, 0.5); }
  .find-solicitor .find-text {
    width: 50%;
    float: left;
    padding: 20px 27px;
    font-size: 30px;
    color: #fff; }
  .find-solicitor .country-link {
    width: 50%;
    float: left; }
    .find-solicitor .country-link .link {
      width: 33.3333%;
      float: left;
      padding: 33px 0;
      text-align: center;
      color: #fff;
      font-size: 24px;
      border-left: 1px solid #da5a1f; }
      .find-solicitor .country-link .link span {
        display: block;
        margin-bottom: 10px; }
        .find-solicitor .country-link .link span + span {
          color: #a54619;
          font-size: 14px; }

.solicitor-login {
  overflow: hidden; }
  .solicitor-login .login-row {
    padding: 45px 0 40px;
    margin: 0 -10px;
    display: inline-block; }
    .solicitor-login .login-row .login-block {
      width: 50%;
      float: left; }
      .solicitor-login .login-row .login-block + .login-block {
        float: left;
        text-align: right; }
        .solicitor-login .login-row .login-block + .login-block .btn + .btn {
          margin-left: 23px; }
      .solicitor-login .login-row .login-block .title {
        font-size: 32px;
        color: #fff;
        margin-bottom: 15px; }
      .solicitor-login .login-row .login-block p {
        font-size: 15px;
        color: #dde3ee; }

.footer {
  padding: 45px 0; }
  .footer .footer-nav {
    font-weight: 600; }
    .footer .footer-nav li {
      display: inline; }
      .footer .footer-nav li + li {
        margin-left: 10px; }
  .footer .footer-logo {
    background: url("../img/footer-logo.png") no-repeat center center;
    display: block;
    margin: 0 auto 21px;
    width: 238px;
    height: 70px; }
  .footer .copyright {
    font-size: 14px;
    color: #7d858b; }
